:root {
  --color-fondo: #c2473a;
  --color-main: #ffb6a1;
  --order-now: #991002;
  --font-poppins: Poppins;
  --roboto: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  padding: 3rem;
  display: flex;
  justify-content: center;

}

.container {
  width: 100%;
  background-color: var(--color-main);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  position: sticky;
  top: 30px;
  z-index: 100;

}

.header.header-scrool-active {
  padding: .8rem;
  background-color: #991002;
  color: white;
  border-radius: 10px;
  transition: background-color .7s;
}

.header h2 {

  font-family: var(--font-poppins);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 500;
}

.nav-header {

  width: 100%;
}

.nav-header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}


.nav-header li {
  list-style: none;
  font-family: var(--roboto);
  font-weight: 400;
  padding: .8rem;
  border-radius: 20px;
  cursor: pointer;
}

.container-search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .8rem;
}

.search {
  padding: .6rem;
  border-radius: 20px;
  border: none;
  width: 100%;

}

.search::placeholder {
  font-weight: 500;
  color: black;
  padding: 1.5rem;
}

.bi-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;

}

.bi-search.bi-search-scrool-activate {
  color: var(--order-now);
}

.burguer {
  font-size: 1.5rem;
  font-weight: 600;
  display: none;
}

.active-burguer {
  display: flex;
  position: absolute;
  width: 100%;
  top: 130%;
  justify-content: flex-end;
  align-items: center;

}

.active-burguer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--order-now);
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  z-index: 100;
  background-color: var(--order-now);
  width: 100%;
  min-height: 300px;
  max-height: 100dvh;
  font-family: var(--font-poppins);

}

.active-burguer ul li {

  font-size: clamp(1rem, 3vw, 1.5rem);
  width: 100%;
  padding: .7rem;
  border-radius: 10px;

}

.bi-list {
  color: black;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.target-main {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.target-main-burguer {

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}

.info-presenctacion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.info-presenctacion h2 {

  font-family: var(--font-poppins);
  font-size: clamp(2rem, 5vw, 4rem);
}

.info-presenctacion p {

  font-family: var(--font-poppins);
}

.info-presenctacion-botones {

  display: flex;
  gap: 1rem;

}

.info-presenctacion-botones button {
  padding: .6rem;
  border: 1px solid var(--order-now);
  border-radius: 20px;
  min-width: 120px;
  width: 100%;
}

.order-now {
  background-color: var(--order-now);
  color: white;
  transition: background-color .5s, color;
  cursor: pointer;

}

.order-now:hover {

  background-color: transparent;
  color: var(--order-now);
}

.btn-menu {
  background-color: transparent;
  color: var(--order-now);
  cursor: pointer;
  transition: background-color .5s, color;

}

.btn-menu:hover {

  background-color: var(--order-now);
  color: white;
}

.btn-activo {

  background-color: white;
  color: var(--order-now);
}

.pizza {
  width: 450px;
  max-width: 100%;
  animation: moverPizza 2.5s infinite ease-in-out;
}

.hamburguesa {
  width: 450px;
  max-width: 100%;
  animation: tamañoBurguer 2.5s infinite ease-in-out;
  max-height: 500px;

}


@keyframes moverPizza {

  0% {

    transform: scale(1)
  }

  50% {
    transform: scale(.9) rotate(15deg);

  }

  100% {
    transform: scale(1);
  }
}

@keyframes tamañoBurguer {

  0% {

    transform: scale(1)
  }

  50% {
    transform: scale(.8);


  }

  100% {
    transform: scale(1);
  }
}

@media(max-width:830px) {
  .main {

    gap: 5rem;
  }

  .target-main,
  .target-main-burguer {
    flex-direction: column-reverse;
  }

  .burguer {
    display: block;
  }

  .nav-header {
    display: none;
  }
}

@media(max-width:470px) {

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  body {
    padding: 1rem;
  }

}

@media(max-width:380px) {}