* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header img {

  width: 100%;
  max-height: 150px;

}

.container {

  min-height: 100dvh;
}

.principal {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.principal-info h1 {
  color: #8BAE66;
  font-size: clamp(2rem, 5vw, 4rem);
}

.principal-info h3 {

  font-weight: 500;

}

.principal img {

  width: 100%;
  max-width: 600px;
  max-height: 600px;
  transition: opacity 1.2s;
  animation: mover 3s ease-in-out infinite;
  cursor: pointer;
}

.pizza:hover {

  animation: disolver 2s ease-in-out, mover 3s ease-in-out infinite;
}

@keyframes disolver {

  0% {

    opacity: 1;
  }

  30% {
    opacity: 0.8;
  }

  50% {

    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }

}

@keyframes mover {

  0% {
    transform: scale(0.9)
    
  }

  50% {
    transform: scale(0.7);
    transform: translate(10%, 5%);
  }

  100% {
    transform: scale(0.9);

  }
}

@media(max-width:340px) {
  .container {
    background-color: black;
  }

  .principal {

    flex-direction: column;
    color: white;
  }
}